footer
  .container.text-center
    p.pull-left © 2017 Swarthmore College x PennApps. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/berlinchen7/PennApps2017/blob/master/Activate!-2.png') GitHub Project
