extends layout

block content
  h1 Activate Activist 
  p.lead Connecting potential partners in activism and creating more civically engaged communities.
  hr
  .row.text-center
      h2 We bring together people passionate about social change.  
  .row.text-center
      a.btn.btn-default(href='/friends', role='button') Connect now
      